body
{
background-color: rgb(40,91,122);
}
#jumbotronid
{
	background-size: auto;
	background-color: white;
}

#stocktbl
{
	width:50%;
}

.whitestar
{
	color :white;
	font-size: 20px;
}

.yellowstar
{
	color :yellow;
	font-size: 20px;
}

.chartHeight{
	min-height: 400px;
}

.image{
	height: 30px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            padding-top:20px;
            padding-bottom: 20px;
 }

 .a{
 	text-decoration-style: none;
 }
.error{
	min-height: 50px !important;
	line-height: 3;
    background-color: #ECCFCF;
    color: #B47080;
    border-radius: 5px;
    box-shadow: #B47080;
    padding-left: 10px;
}
 #orderBy, #filterBy{
            background-color: white;
            margin-left:30px;
            height: 30px;
            width:18%;
        }
#favHead{
	background-color: #f9f9f9 !important;	
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;	
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #FFF;
}
#filter{
	margin-bottom: 10px;
}
